<div align='center'>
<% if @message.present? %>
    <h1>Good by <%= @message %> !</h1>
    <% else %>
    <h1> Good by world !</h1>
<% end %>
</div>
<%= link_to "Hello", hello_welcome_path(@message), class: 'btn', id: 'toto' %>